<!DOCTYPE html>
<html>
	<head>
		<title> INSERT TITLE </title>
		<link rel="stylesheet" , href="../css/styles.css">
		<script src="../javascript/lib/scale_recipe_quantities.js" type="module" defer></script>
		<script src="../javascript/recipe_page_ingr_scaler.js" type="module" defer></script>
	</head>
	<body>
		<h1> RECIPE NAME </h1>
			<form action="" class="scale-ingr-form" method="POST">
				<label for="nPortions" name="nPortions">Number of Portions</label>
				<input name="nPortions" type="number" value=1 min=0 step=any>
				<input type="submit" value="update" class="update-button">
			</form>
		<h2> Ingredients </h2> 
		<h2> Instructions </h2>
	</body>
</html>


